@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #0f117dd8, #20e52dda);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 560px;
    background: transparent ;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.17);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.767);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.241);
    border-radius: 10px;
    letter-spacing: 2px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 15px;
}

@media(max-width:600px) {
    .relogio{
      flex-direction: column;
      display: flex;
    }
    
}